@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #000000;
    font-family: "Black Ops One";
    padding: 10px;
    min-height: 200vh;
}

h1 {
    color: white;
    font-size: 100px;
}

#colors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*
#colors div {
    height: 7px;
}

#colors #a {
    width: 30%;
    background-color: aqua;
}

#colors #b {
    width: 25%;
    background-color: lightgreen;
}

#colors #c {
    width: 20%;
    background-color: crimson;
}

#colors #d {
    width: 12%;
    background-color: yellow;
}

#colors #e {
    width: 8%;
    background-color: coral;
}

#colors #f {
    width: 5%;
    background-color:orange
}
*/

#intro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(173, 26, 173, 0.671);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#beginning {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 80px;
}

#beginning #left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 50px;
    height: fit-content;
}

#beginning #right {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
}

#coolpic {
    width: 550px;
}

header #logo {
    position: relative;
    left: 30px;
    color: white;
    font-size: 45px;
    width: fit-content;
    height: fit-content;
}

#info {
    display: flex;
    width: 100%;
}

#info h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    height: fit-content;
    flex: 1;
    margin-top: 0;
}

#info {
    color: white;
    font-size: 80px;
    margin-top: 0;
}

#team-mems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: fit-content;
    background-color: rgba(111, 50, 255, 0.5);
    padding: 30px 0 30px 0;
}

#team-mems h1 {
    margin-top: 0;
}

.card {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: -10px -10px 15px rgba(111, 50, 255, 0.5),
                10px 10px 10px rgba(0, 0, 0, 0.1),
                inset -10px -10px 15px rgba(111, 50, 255, 0.5),
                inset 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
    transition: 0.3s;
    margin: 50px;
}

.card-img {
    width: 200px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
    position: relative;
    bottom: 90px;
    transition: 0.3s;
    z-index: 2;
}

.card-name {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1;
}

.card-title {
    color: black;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 200px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    height: 400px;
    transition: 0.3s;
}

.card:hover .card-img {
    visibility: visible;
    bottom: 0;
    transition: 0.3s;
}

.card:hover .card-name, .card:hover .card-title {
    visibility: visible;
    bottom: 0;
    transition: 0.3s;
    opacity: 1;
}



#date {
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: 600;
    margin-top: 0;
}

#calar {
    color:rgba(111, 50, 255, 0.5);
    margin-top: 0;
}

#intro h1 {
    font-size: 100px;
}

section {
    position: relative;
}

#info-section {
    margin-top: 250px;
    height: fit-content;
}

#info-header {
    background-color: rgba(111, 50, 255, 0.5);
    width: 100%;
    height: fit-content;
    font-family: "Black Ops One";
}

#info-header::before {
    content: " ";
    background-image: url("./bluewave-clip.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    top: -13vw;
    left: 0;
    width: 100%;
    position: absolute;
}

#info-header * {
    margin-left: 50px;
}

#info-header h1 {
    font-size: 70px;
}

#info-section p {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: 600;
    font-size: 25px;
}

#schedule {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#day1 {
    flex: 1;
    height: fit-content;
    margin-left: 0;
    margin-top: 0;
}

#day2 {
    flex: 1;
    height: fit-content;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 40px;
}

#day1 *, #day2 * {
    margin-top: 0;
    margin-left: 0;
}

#schedule h3 {
    color: white;
    font-size: 100px;
    height: fit-content;
}

#schedule ul li {
    list-style: disc;
    font-size: 80px;
    color:rgba(173, 26, 173, 0.815);
}

#schedule ul li {
    list-style: disc;
    font-size: 80px;
    color:rgba(173, 26, 173, 0.815);
}

#schedule ul li:not(:last-child) {
    margin-bottom: 35px;
}

.event {
    position: relative;
    bottom: 15px;
}

.event *{
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.897);
}

.event .event-name {
    color: rgba(255, 255, 255, 0.897);
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.event .event-time {
    color: rgba(255, 255, 255, 0.897);
    display: block;
    margin-top: 5px !important;
    font-size: 20px;
    font-weight: 600;
}

.event-list {
    border-left: 3px dashed yellow;
    margin-left: 0px;
    margin-top: -50px !important;
}

#sponsors-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

#sponsors-section h1 {
    margin-top: 15px;
    color: white;
}

#team-mems #members {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
}

#links {
    display: flex;
    list-style: none;
    position: absolute;
    right: 25px;
}

#links li {
    margin: 0 10px 0 10px;
}

#links li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

#links li a:hover {
    color:rgb(184, 184, 184);
}

#coolicon {
    margin-top: 50px;
}

.bottom-links {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

.bottom-links li {
    position: relative;
    list-style: none;
    margin: 0 40px 0 0;
    cursor: pointer;
} 

.bottom-links li a {
    text-decoration: none;
}

.bottom-links li a i {
    font-size: 70px;
    color: #222;
}

.bottom-links li a::before {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 70px;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.bottom-links li a:hover::before {
    height: 110%;
}

.bottom-links li:nth-child(1) a::before {
    font-family: 'Font Awesome 5 Brands';
    content: '\f16d';
    color: #E1306C;
    border-bottom: 4px solid #E1306C;
}

.bottom-links li:nth-child(2) a::before {
    font-family: 'Font Awesome 5 Brands';
    content: '\f08c';
    color: #2867B2;
    border-bottom: 4px solid #2867B2;
}

.bottom-links li:nth-child(3) a::before {
    font-family: 'Font Awesome 5 Brands';
    content: '\f082';
    color: #4267B2;
    border-bottom: 4px solid #4267B2;
}

.bottom-links li:nth-child(4) a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f0e0';
    color: #c4c4c4;
    border-bottom: 4px solid #c4c4c4;
}

.l-sec {
    width: 88%;
    margin: 0 6%;
}

.links-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.links-section .b-left {
    width: fit-content;
}

#link-h {
    color: white;
    font-size: 50px;
    padding: 0;
    margin-bottom: 0;
}

.links-section .b-left h5 {
    color: white;
    font-family: Montserrat;
    font-size: 25px;
}

.links-section .b-right{
    margin-right: 20px;
}

.links-section .b-right ul {
    list-style: none;
}

.links-section .b-right ul li{
    list-style: none;
    margin-bottom: 20px;
    color: white;
}

.links-section .b-right ul li a{
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    text-decoration: none;
}
